<%= render 'layouts/montadores/sheet', header_titles: ['Nome do cliente', 'CNPJ'],
                                       cells: [cliente.nome_cliente, cliente.cnpj]  %>

<div class='detalhes-editar-apagar-links'>
  <%= link_to "Detalhes", cliente, class: 'detalhes-link' %> |
  <%= link_to "Editar", edit_cliente_path(cliente), class: 'editar-link' %> |
  <%= link_to "Apagar", cliente, method: :delete, 
                                 data: { confirm: "Quer apagar o #{cliente.class}: '#{cliente.nome_cliente}'" },
                                 class: 'apagar-link' %>
</div>