<div class="container-cadastros">
  <div class="formulario-cadastros">
    <div class='titulo-formulario-cadastros'>Editar cliente</div>

      <%= render 'form', verbo: 'put' %> 
      
    </div>
    <div>
      <%= link_to "Voltar para clientes", clientes_path %>
    </div>
  </div>
</div>
