<div class="container-cadastros">
  <div class="formulario-cadastros">
    <div class='titulo-formulario-cadastros'>Cadastrar novo cliente</div>

      <%= render 'form', verbo: 'post' %>

    </div>
    <div>
      <%= link_to "Voltar para clientes", clientes_path %>
    </div>
  </div>
</div>


