<div class="container-cadastros">
  <div class="formulario-cadastros">
    <div class='titulo-formulario-cadastros'>Cadastrar novo cliente</div>

      <%= render 'form' %>

    </div>
  </div>
</div>

<div>
  <%= link_to "Back to clientes", clientes_path %>
</div>
