<div class='items-header-show-grid'>
  <% if @disabled_header.nil? %>
  
    <% header_titles.each do |title| %>
      <div class='planilha-header'><%= title %></div>
    <% end %>

    <% @disabled_header = true %>
  <% end %>
</div>

<div class='items-cells-show-grid'>  
  <% cells.each do |celula| %>
    <div class='planilha-celula'><%= celula %></div>
  <% end %>
</div>