<h1>Editing tipo contato</h1>

<%= render "form", tipo_contato: @tipo_contato %>

<br>

<div>
  <%= link_to "Show this tipo contato", @tipo_contato %> |
  <%= link_to "Back to tipo contatos", tipo_contatos_path %>
</div>
