<h1>Editing meio contato</h1>

<%= render "form", meio_contato: @meio_contato %>

<br>

<div>
  <%= link_to "Show this meio contato", @meio_contato %> |
  <%= link_to "Back to meio contatos", meio_contatos_path %>
</div>
