<p style="color: green"><%= notice %></p>

<h1>Meio contatos</h1>

<% if @contatos.present? %>
  <div id="meio_contatos">
    <% @meio_contatos.each do |meio_contato| %>
      <%= render meio_contato %>
      <p>
        <%= link_to "Show this tipo contato", meio_contato %>
      </p>
    <% end %>
  </div>
<% else %>
  <p>Nenhum meio contato encontrado.</p>
<% end %>
<%= link_to "New meio contato", new_meio_contato_path %>
