<%= render 'layouts/montadores/sheet', header_titles: ['Nome da pessoa', 'Descrição do contato'],
                                       cells: [contato.nome_pessoa, contato.descricao]  %>

<div class='detalhes-editar-apagar-links'>
  <%= link_to "Detalhes", contato, class: 'detalhes-link' %> |
  <%= link_to "Editar", edit_contato_path(contato), class: 'editar-link' %> |
  <%= link_to "Apagar", contato, method: :delete, 
                              data: { confirm: "Quer apagar o #{contato.class}: '#{contato.nome_pessoa}'" },
                              class: 'apagar-link' %>
</div>