<div class="container-cadastros">
  <div class="formulario-cadastros">
    <div class='titulo-formulario-cadastros'>Cadastro de contatos</div>
    
    <%= render "form", contato: @contato %>

    <% if [SUPER, ADMINISTRATIVO].include?(current_usuario.permissao) %>
      <h2>Adicionais de SUPER e ADMINISTRATIVO</h2>
      <%= render "/tipo_contatos/new" %>
      <%= render "/meio_contatos/new" %>
    <% end %>

    <div>
      <%= link_to "Voltar para contatos", contatos_path %>
    </div>
  </div>
</div>
