<%= render 'layouts/montadores/sheet', header_titles: ['Nome do fornecedor'],
                            cells: [fornecedor.nome_fornecedor]  %>

<div class='detalhes-editar-apagar-links'>
  <%= link_to "Detalhes", fornecedor, class: 'detalhes-link' %> |
  <%= link_to "Editar", edit_fornecedor_path(fornecedor), class: 'editar-link' %> |
  <%= link_to "Apagar", fornecedor, method: :delete, 
                              data: { confirm: "Quer apagar o #{fornecedor.class}: '#{fornecedor.nome_fornecedor}'" },
                              class: 'apagar-link' %>
</div>