<div class='container-list-show'>
  <% @objects.each do |fornecedor| %>
    <div class='container-splitter-grid-links'> 
      <%= render partial: "fornecedores/fornecedor", locals: { fornecedor: fornecedor } %>
    </div>
  <% end %>
</div>
