<%= render object, object: object %>

<div>
  <%= link_to "Voltar para #{object.class.to_s.pluralize}", send("#{object.class.to_s.pluralize.downcase}_path"),
              class: 'voltar-link' %>
</div>