<%= render partial: 'builders/render_sheets/sheet', locals: { header_titles: header_titles, cells: cells } %>

<div class='detalhes-apagar-links'>
  <%= link_to "Detalhes", object, class: 'detalhes-link' %> |
  <%= link_to "Editar", send("edit_#{object.class.to_s.downcase}_path", object), class: 'editar-link' %> |
  <%= link_to "Apagar", object, method: :delete, 
                                data: { confirm: "Quer apagar o #{object.class}: '#{object[@nome_parametro_unico]}'?" },
                                class: 'apagar-link' %>
</div>