html{
  background-color: #3C5B6F;
}
body {
  font-family: Arial, sans-serif;
  padding: 1px;
  margin: 0;
  padding: 0;
}

.cadastrar-entrar-link,
.header-settings-button, .header-logout-button,
.usuario-edit-button, .default-delete-button,
.detalhes-link, .editar-link, .apagar-link,
.voltar-link {
  text-decoration: none;
  font-weight: bolder;
}
.cadastrar-entrar-link,
.header-settings-button, .header-logout-button,
.usuario-edit-button,
.detalhes-link, .editar-link {
  color: #0908E7;
}
.apagar-link, .default-delete-button {
  color: crimson;
}
.voltar-link {
  color: black;
}

.header-container{
  display: flex;
  flex-flow: column-reverse;
  justify-content: space-between;
  background-color: #333;
  border-radius: 5px 5px 0px 0px;
  margin-top: 3px;
  margin-left: 3px;
  margin-right: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 10);
}
  .container-header-buttons{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }
    .header-settings-button, .header-logout-button{
      padding: 10px;
      margin: 5px;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      border-radius: 5px;
      background-color: azure;
      box-shadow: 0 0 3px rgba(0, 0, 0, 10);
    }

  .menu-container {
    padding: 10px;
    top: 0;
    background-color: #333;
    padding: 10px 20px;
    box-sizing: border-box;
  }

  .menu-bar-tabelas-principais, .menu-bar-tabelas-auxiliares {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .menu-item {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px 0px;
    border-style: groove;
    transition: background-color 0.3s ease;
  }
  .submenu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .submenu li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  .menu-item:hover .submenu {
    display: block;
  }

.container-yield{
  background-color: #948979;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 10);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 3px;
  margin-right: 3px;
}

  @keyframes slideUp {
    0% { transform: translateY(100%); }
    100% { transform: translateY(0); }
  }
  @keyframes slideDown {
    0% { transform: translateY(0); }
    100% { transform: translateY(100%); }
  }
  @keyframes slideRight {
    0% { transform: translateX(-200%); }
    100% { transform: translateX(0); }
  }
  @keyframes slideLeft {  
    0% { transform: translateX(0); }
    100% { transform: translateX(-200%); }
  }
  .div-notice, .div-success, .div-error{
    display: flex;
    position: fixed;
    bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 999;
    animation: slideUp 0.2s ease-in forwards;
  }
  .div-notice{
    background-color: rgba(255, 185, 56, 0.8);
  }
  .div-success{
    background-color: rgba(96, 255, 56, 0.8);
  }
  .div-error{
    background-color: rgba(255, 81, 81, 0.8);
  }
    #flash-text{
      font-weight: bold;
      font-size: 30px;
      color: black;
      margin: 5px;
    }

  .warning-message {
    display: none;
    color: red;
    font-size: 16px;
    margin-left: 10px;
    position: absolute;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
    .caixa-de-texto {
      position: relative;
    }

  .container-cadastrar-usuarios, .container-entrar-usuarios, 
  .container-cadastros {
    margin: 10px;
    display: flex;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    max-width: 600px;
    min-width: 300px;
  }
    .formulario-cadastrar-usuarios, .formulario-entrar-usuarios, .container-usuario-show, 
    .formulario-cadastros {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 15px;
      border-radius: 10px;
      width: 100%;
      background-color: #DFD0B8;
      box-shadow: 0 0 5px rgba(0, 0, 0, 10);
    }
      .titulo-formulario-cadastros, .titulo-formulario-login{
        text-align: center;
        font-size: 30px;
        font-weight: 900;
        padding-bottom: 20px;
      }
      .signup-form-textboxes, .login-form-textboxes,
      .textboxes-grid, .textboxes-cadastros {
        display: grid;
        grid-gap: 10px;
        justify-items: center;
      }
      .formulario-cadastrar-colecao {
        background-color: rgb(192, 143, 255);
        padding: 20px;
        margin: 5px;
        border-radius: 5px;
      }
        .caixa-de-texto, .caixa-de-texto-expandable, .selecao-datas-horizontal {
          display: flex;
          justify-content: center;
          width: 100%;
        }
        .caixa-de-texto-expandable{
          border-style: dashed;
        }
        .caixa-de-texto-vertical {
          display: flex;
          justify-content: center;
          flex-direction: column;
          width: 100%;
          text-align: center;
        }
          .required::after {
            position: absolute;
            color: red;
            content: "*";
            font-size: 30px;
            transform: translate(-110%, 37%);
          }
          .signup-form-textboxes, input[type="text"], input[type="password"],
          .login-form-textboxes, input[type="text"], input[type="password"], 
          .custom-select-tag {
            width: 100%;
            padding: 10px;
            font-size: 20px;
            box-sizing: border-box;
          }

        #form-submit-button, #high-privileges-form-submit-button {
          padding: 10px 20px;
          margin: 5px;
          color: white;
          background-color: #153448;
          border-radius: 5px;
          border: 0;
          cursor: pointer;
          font-size: 20px;
          text-wrap: wrap;
          justify-content: center;
          width: 100%;
        }
        #form-submit-button:hover {
          background-color: #0056b3;
        }
        #high-privileges-form-submit-button{
          background-color: #ff4646;
          width: 100%;
        }

      .container-cadastrar-entrar-link{
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: end;
        font-size: 20px;
      }
        .cadastrar-entrar-link{
          margin-left: 20px;
          font-weight: bold;
        }

    .detalhes-planilha-container {
      display: flex;
      flex-direction: row;
    }
      .detalhes-items-header-show, .detalhes-items-cells-show {
        display: block;
        flex-direction: row;
        flex-wrap: nowrap;
        text-align: center;
        background-color: azure;
        width: auto;
        overflow-x: auto;
      }
        .detalhes-planilha-header, .detalhes-planilha-celula {
          padding: 0px 5px 0px 5px;
          margin: 0px;
          height: 30px;
          min-width: 140px;
          max-width: 300px;
          border: 4px solid black;
          border-style: groove;
          overflow: auto;
        }
        .detalhes-planilha-header {
          background-color: #ccc;
          font-weight: bolder;
          text-align: end;
        }
        .detalhes-planilha-celula {
          background-color: azure;
          text-align: start;
        }

  .container-usuario-show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 20px;
    background-color: bisque;
    width: auto;
  }
    .container-edit-account-option, .container-close-account-option{
      display: none;
    }
      .edit-user-form-textboxes{
        display: flex;
        flex-direction: column;
        background-color: bisque;
        padding: 20px;
        margin: 10px;
        border-radius: 5px;
      }
        .current-password-field{
          padding: 10px;
          margin: 10px;
          border-radius: 5px;
          background-color: #ff9c9c;
        }

      .text_field {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

  .container-list-show{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #ccc;
    width: 100%;
  }
    .container-splitter-grid-links{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
    }
      .items-header-show-grid, .items-cells-show-grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        text-align: center;
        background-color: azure;
        width: 85%;
        justify-content: left;
      }
      .items-cells-show-grid{
        flex-grow: 1;
      }
        .planilha-header{
          font-weight: bolder;
          background-color: #ccc;
        }
        .planilha-celula{
          border: 1px solid #0000005d;
          font-weight: normal;
          padding: 5px;
          background-color: azure;
        }
        .detalhes-editar-apagar-links{
          width: auto;
        }
