html{
  background-color: #3C5B6F;
}
body {
  font-family: Arial, sans-serif;
  padding: 1px;
  margin: 0;
  padding: 0;
}

.header-container{
  display: flex;
  flex-flow: column-reverse;
  justify-content: space-between;
  background-color: #333;
}
  .container-header-buttons{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }
    .header-settings-button, .header-logout-button{
      padding: 10px;
      margin: 5px;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      border-radius: 5px;
      background-color: azure;
      box-shadow: 0 0 3px rgba(0, 0, 0, 10);
    }

  .menu-container {
    padding: 10px;
    top: 0;
    background-color: #333;
    padding: 10px 20px;
    box-sizing: border-box;
  }
  
  .menu-bar-tabelas-principais, .menu-bar-tabelas-auxiliares {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }  
  .menu-item {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px 0px;
    border-style: groove;
    transition: background-color 0.3s ease;
  }  
  .submenu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1;
  }  
  .submenu li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }  
  .menu-item:hover .submenu {
    display: block;
  }

.container-yield{
  background-color: #948979;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 10);
}
  .div-notice{
    display: flex;
    position: sticky;
    box-shadow: 0 0 10px rgba(0, 0, 0, 10);
    justify-content: center;
    align-items: center;
    width: auto;
    border-radius: 10px;
    background-color: rgb(252, 70, 70, 0.7);
    z-index: 1;
  }
    #notice{
      font-weight: bold;
      font-size: 20px;
      color: aliceblue;
      margin: 5px;
    }

  .required::after {
    color: red;
    content: "*";
  }
  .container-cadastrar-usuarios, .container-entrar-usuarios {
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: inherit;
    background-color: transparent;
  }
    .formulario-cadastrar-usuarios, .formulario-entrar-usuarios{
      margin: 10px;
      border-radius: 10px;
      width: auto;
      background-color: #DFD0B8;
      box-shadow: 0 0 5px rgba(0, 0, 0, 10);
    }
    .titulo-formulario-cadastros, .titulo-formulario-login{
      text-align: center;
      font-size: 40px;
      font-weight: 900;
      padding-bottom: 20px;
    }
      .signup-form-textboxes, .login-form-textboxes{
        display: grid;
        width: 500px;
        height: auto;
      }
      .signup-form-textboxes label, .login-form-textboxes label {
        font-size: 40px;
        margin: 10px;
      }
      .signup-form-textboxes, input[type="text"], input[type="password"],
      .login-form-textboxes, input[type="text"], input[type="password"], 
      .custom-select-tag {
        padding: 10px;
        margin: 10px;
        font-size: 30px;
      }
      #form-submit-button {
        display: inline-block;
        padding: 10px 20px;
        margin-top: 20px;
        color: white;
        background-color: #153448;
        border-radius: 5px;
        border: 0;
        cursor: pointer;
        font-size: 30px;
      }
      #form-submit-button:hover {
        background-color: #0056b3;
      }
      .container-cadastrar-entrar-link{
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: end;
        font-size: 20px;
      }
        .cadastrar-entrar-link{
          margin-left: 20px;
          font-weight: bold;
        }
  .container-account-overview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 35px;
  }
    .container-edit-account-option, .container-close-account-option{
      display: none;
    }
      .edit-user-form-textboxes{
        display: flex;
        flex-direction: column;
        background-color: bisque;
        padding: 20px;
        margin: 10px;
        border-radius: 5px;
      }
        .current-password-field{
          padding: 10px;
          margin: 10px;
          border-radius: 5px;
          background-color: #ff9c9c;
        }




        /* Estilos para o formulário de cadastro de contatos */
.container-cadastros {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formulario-cadastros {
  margin-bottom: 20px;
}

.textboxes-cadastros {
  display: grid;
  grid-gap: 0px;
}

.custom-select-tag {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.text_field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}