<%= render 'layouts/montadores/sheet', header_titles: ['Nome do site', 'Designação do site', 'velocidade contratada'],
                                       cells: [site.nome_site, site.designacao, site.velocidade_contratada] %>

<div class='detalhes-apagar-links'>
  <%= link_to "Detalhes", site, class: 'detalhes-link' %> |
  <%= link_to "Editar", edit_site_path(site), class: 'editar-link' %> |
  <%= link_to "Apagar", site, method: :delete, 
                              data: { confirm: "Quer apagar o #{site.class}: '#{site.nome_site}'" },
                              class: 'apagar-link' %>
</div>